<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="edu.eci.pdsw.persistence.impl.mappers.PacienteMapper">
    

        
    <select parameterType="map" id="loadPacienteByID" resultMap="PacienteResult">

    </select>
    
       
    <select parameterType="map" id="loadPacientes" resultMap="PacienteResult">
            select
    
    p.id,
    p.tipo_id,
    p.nombre,
    p.fecha_nacimiento,


    e.nombre,
    e.nit,

    c.idCONSULTAS,
    c.fecha_y_hora,
    c.resumen,
    c.costo

    
    FROM  CM_PACIENTES as p left join CM_CONSULTAS as c on p.id=c.PACIENTES_id left join CM_EPS as e on p.eps_nit=e.nit
    </select>
    <resultMap type='CM_PACIENTES' id='Paciente'>
        <id property='id' column='id'/>
        <id property='tipo_id' column='tipo_id'/>
        <result property='nombre' column='nombre'/> 
        <result property='fecha_nacimi' column='fechaNam'/> 
        <association property="propiedadw" javaType="DetalleDos"></association>      
    </resultMap>
    <resultMap type='CM_EPS' id='Eps'>
        <id property='nit' column='nit'/> 
        <result property='nombre' column='nombre'/>
        <collection property='CM_PACIENTES' ofType='CM_PACIENTES'></collection>  
    </resultMap>

    

    <resultMap type='DetalleDos' id='DetalleResult'>
        <id property='propiedadr' column='COLUMNAR'/>
        <result property='propiedads' column='COLUMNAS'/>
        <result property='propiedadt' column='COLUMNAT'/>        
    </resultMap>

                
</mapper>
